name: build

on:
  push:
    paths:
      - 'src/**.[ch]'
      - '**/Makefile'
      - 'util/**.sh'
      - '.github/workflows/**.yml'
  pull_request:
    paths:
      - 'src/**.[ch]'
      - '**/Makefile'
      - 'util/**.sh'
      - '.github/workflows/**.yml'

jobs:
  gcc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install gcc make git libpcap-dev

      - name: Build
        run: |
          make -j2
        env:
          CC: gcc

      - name: Test
        run: |
          ./util/ci-test.sh

      - name: Test 2
        run: |
          sudo ./util/ci-test2.sh

      - name: Test 3
        run: |
          sudo ./util/ci-test3.sh

  clang:
    name: "clang (sanitize: ${{ matrix.c.san }})"
    strategy:
      fail-fast: false
      matrix:
        c:
          - { san: "ASAN" }
          - { san: "UBSAN" }
          - { san: "none" }
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install clang make git libpcap-dev

      - name: Build
        run: |
          make ${{ matrix.c.san }}=1 -j2
        env:
          CC: clang

      - name: Test
        run: |
          ./util/ci-test.sh

      - name: Test 2
        run: |
          sudo ./util/ci-test2.sh

      - name: Test 3
        run: |
          sudo ./util/ci-test3.sh
